@import './node_modules/reset-css/sass/reset'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')

$primary-dark: #333
$secondary-dark: #444
$primary-light: #eee
$secondary-light: #ddd

body
  background-color: green